<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
</configuration>

<!--
mapUnderscoreToCamelCase
 Mybatis의 DTO 리턴값을 CamelCase로 변환 시킴
callSetterOnNulls
 ResultTypedl HashMap일 때 값이 null인 것이 누락되어 나오는데, null을 포함시켜 return하게 한다.
-->